{# <div class="fixed inset-0 z-50 flex items-center justify-center p-4 bg-gray-800 bg-opacity-50 dark:bg-gray-600 dark:bg-opacity-50"
    x-data="file-info-modal" x-show="visible" @click.self="hide()" @keyup.escape.window="hide()"
    @show-file-info.window="show($event.detail.file)" x-transition:enter.opacity x-cloak
>
    <div x-show="!loading" x-transition:enter @click.away="hide()" class="overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800 dark:text-white">
        <header class="flex items-center justify-between p-4 bg-primary-600 dark:bg-primaryDark-700">
            <i class="text-white fas fa-info-circle fa-lg"></i>

            <div class="items-center mx-4 font-mono text-xl text-white" x-text="title"></div>

            <button @click="hide()" class="flex items-center justify-center w-6 h-6 text-sm text-gray-900 text-opacity-50 rounded-full hover:bg-red-700 hover:text-white hover:shadow">
                <i class="fas fa-times"></i>
            </button>
        </header>

        <content class="flex items-center justify-center p-4">
            <div class="overflow-x-auto">
                <p class="m-4 text-2xl font-thin text-gray-600" x-if="error" x-text="error"></p>

                <table x-if="error === undefined" class="table-auto">
                    <tbody>
                        <template x-for="[name, value] in Object.entries(hashes)" :key="name">
                            <tr>
                                <td class="px-4 py-2 font-bold border" x-text="name"></td>
                                <td class="px-4 py-2 font-mono border" x-text="value"></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </content>
    </div>

    <i class="text-white fas fa-spinner fa-pulse fa-5x" x-show="loading"></i>
</div> #}

