<div id="readme" class="my-4 {{ config('readmes_first') ? 'order-first' : null }}" style="scroll-margin-top: 8rem;">
    <div class="overflow-hidden rounded-lg shadow-md">
        <header class="flex items-center px-4 py-3 text-white bg-primary-800 dark:bg-primaryDark-800">
            <i class="mr-3 fas fa-book fa-lg text-secondary-500"></i> README
        </header>

        <article class="bg-gray-100 rounded-b-lg px-4 py-8 sm:px-6 md:px-8 lg:px-12 dark:bg-gray-900 dark:border-0 {{ readme.getExtension == 'md' ? 'markdown' : 'font-mono' }}" v-pre>
            {% if readme.getExtension == 'md' %}
                {{ markdown(readme.getContents) | raw }}
            {% else %}
                {{ readme.getContents | nl2br }}
            {% endif %}
        </article>
    </div>
</div>
